@import '../common/util';

.about {
    @extend %diagonal_section;
    background: $bg-primary-color;
    text-align: center;

    h2 {
        margin-top: 0;
    }

    p {
        font-size: 20px;
        max-width: 700px;
        margin: 0 auto;
        @include breakpoint(sm) {
            font-size: 24px;
        }
    }
}