@import '../common/util';

.cover {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;

    h1 {
        text-shadow: 0 0 10px #000, 0 0 20px;
        @include breakpoint(sm) {
            font-size: 48px;
        }
    }

    p {
        font-size: 28px;
    }

    .highlight {
        font-weight: bold;
        color:  $primary-color;
    }
}